$primaryClr: #8e3e63;
$primaryClrLight: #d2649a;
$tetiaryClr: #cae6b2;
$secondaryClr: #f6fab9;
$transparentClr: rgba(142, 62, 99, 1);
$bgClrLight: white;
$bgClrLight2:rgb(192, 192, 192);
$bgClrBlack: rgb(41, 37, 37);
$bgClrBlack2: rgb(12, 11, 11);
$priTotetToSecGradient: linear-gradient(180deg, $primaryClr 0%, $tetiaryClr 50%, $secondaryClr 100%);
$imgBg: url('../assets/buzz-logo-sm.png');
$activeClr:  rgb(119, 119, 119);